/* admin */
*{
    margin: 0;
    padding: 0;
    ::selection{
        background-color: #FA8A28;
    }
    list-style: none;
    text-decoration: none;font-family: 'Inconsolata', monospace;
}
.notifcation{
    background-color: red;
    width: 100%;
    height: 50px;
    position: fixed;
}
.admin_warning{
    padding-top: 10px;
    display: flex;
    justify-content: center;animation: fadeIn 1s infinite alternate;
    font-size: 20px;
}
@keyframes fadeIn { 
    from { opacity: 0; } 
}

.full_page{
    display: flex;
    padding-top: 50px;
}
.left_side{
    width: 150px;
    height: 100%;
    background-color: #03579E;
    position: fixed;
}
.left_side button{
    display: block;
}
.control_button{
    margin: 40px 0px 0px 20px;
}
.control_button button{
    padding: 10px 20px 10px 20px;
    margin: 20px 0px 20px 0px;
    background-color: #FA8A28;
    border: none;
}
.right_side{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    padding: 10px 10px 10px 40px;
}
.upload_section{
    width: 500px;
    background-color: #03579E;
    padding: 20px;
}
.product_view{
    width: 500px;
    background-color: red;
}
.upload_section label{
    font-size: 17px;
}
.upload_section input{
    padding: 10px 90px 10px 0px;
    font-size: 15px;
}
.upload_section button{
    margin: 20px 0;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    border: none;
    background-color: #FA8A28;
    color: #ffff;
}
.right_side_users{
    margin-left: 250px;
}
/* admin */