*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ::selection{
        background-color: #FA8A28;
    }
    list-style: none;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}
.welcome_section {
    position: relative;
}
.welcome_section img{
    border-radius: 0px 0px 50px 50px;
    height: 500px;
}
.welcome_text{
    position: absolute;
    color: #ffff;
    top: 140px;
    left: 16px;
}
.section_txt_one{
    font-size: 20px;
    font-weight: bold;
    max-width: 400px;
}
.section_txt_two{
    padding-top: 20px;
    font-size: 50px;
    max-width: 500px;
}
.shop_btn {
    padding-top: 30px;
}
.shop_btn button{
    padding: 10px 20px 10px 20px;
    background-color: #FA8A28;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.shop_btn button:hover{
    background-color: #FA8A28;
}
/* section one ends here */

/* gallery */
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flexbox-item img{
    width: 290px;
    height: 400px;
    margin: 10px 15px 10px 10px;
}
/* gallery */

/* promise starts here */
.promise{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 40px 25px;
}
.promise_one{
    font-size: 30px;
    font-weight: 550;
    max-width: 450px;
}
.promise_two{
    padding: 10px 20px 0px 0px;
    color: #989797;
}
/* promise ends here */

/* guarantee_section starts head */
.guarantee_section{
    display: flex;
    padding: 20px 30px 0px 30px;
}
.icon_img{
    width: 50px;
    height: 50px;
    background-color: #FA8A28;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.row_item img{
    width: 50px;
}
.row_item_text_one{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}
/* guarantee_section ends here */

/* featured products starts head */
.featured_products{
    padding: 60px 30px 0px 30px;
}
.featured_products p{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}
.featured_products_row{
    display: flex;
    justify-content: space-between;
}

.featured_products_img {
    position: relative;
}
.featured_products_img img{
    width: 380px;
    border-radius: 10px;
}
.centered {
    background-color: #FA8A28;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    padding: 20px 30px 20px 30px ;
    border-radius: 5px;
}
/* featured products ends here */

/* newsletter starts here */
.newsletter{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
.newsletter_text_one{
    max-width: 600px;
    font-size: 25px;
    font-weight: bolder;
}
.newsletter_text_two{
    max-width: 400px;
    font-size: 14px;
    padding-left: 100px;
    color: #989797;
}
.newsletter input{
    margin-top: 20px;
    padding: 10px 45px 10px 45px;
    border: none;
    background-color: #989797;
}
.newsletter button{
    padding: 10px 20px 10px 20px;
    margin-left: -10px;
    background-color: #03579E;
    border: none;
    color: #ffff;
}
/* newsletter ends here */

/* footer starts head */
footer{
    display: flex;
    justify-content: space-between;
    padding: 60px 30px 0px 30px;
    background-color: #2b2a2a;
    color: #ffff;
}
.footer_col_one{
    max-width: 400px;
}
.footer_brand_name{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}
.footer_tag_head{
    padding-bottom: 15px;
    font: 25px;
    font-weight: bold;
}
.footer_icon_row{
    display: flex;
}
.footer_icon_row img{
    width: 25px;
}
.footer_icon{
    width: 25px;
    height: 25px;
    background-color: #989797;
    padding: 5px 5px 5px 6px;
    border-radius: 50%;
    margin: 4px;
}
.footer_icon:hover{
    width: 25px;
    height: 25px;
    background-color: #FA8A28;
    padding: 5px 5px 5px 6px;
    border-radius: 50%;
    margin: 4px;
}
.shop_view_selection{
    display: flex;
    justify-content: space-between;
}
/* footer ends here */
