/* all mobile screen */
@media (max-width: 450px){
    *{
        overflow-x: hidden;
    }
    /* welcome section */
    .section_txt_one{
        font-size: 20px;
    }
    .section_txt_two{
        font-size: 35px;
    }
    .welcome_section img{
        border-radius: 0px;
    }
    /* welcome section */
   
    /* promise  */
    .promise{
        display: block;
    }
    .promise_two span{
        display: none;
    }
    /* promise  */

    /* guarantee_section */
    .guarantee_section{
        display: block;
        margin: 0px 5px 0px 5px;
    }
    .row_item{
        margin: 30px 0px 0px 0px;
    }
    /* guarantee_section */

    /* featured_products */
    .featured_products_row{
        display: block;
    }
    .featured_products{
        padding: 10px;
    }
    .centered a{
        color: #ffff;
    } 
    .centered span{
        display: none;
    }
    .sm-one{
        margin: 70px 0px 0px 0px;
    }
    .centered {
        background-color: #FA8A28;
        color: #ffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
    }
    .row_item_text_one {
        font-size: 25px;
        font-weight: 600;
    }
    .featured_products p {
        padding: 40px 0px 40px 15px;
        font-size: 30px;
        font-weight: 600;
    }
    .featured_products_img{
        height: 60%;
        margin: 10px;
        border-radius: 10px;
    }
    .featured_products_img img{
        width: 100%;
    }
    /* featured_products */

    /* newsletter */
    .newsletter{
        padding: 10px;
    }
    .newsletter_text_two{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        margin: 20px 5px;
    }
    .subscribe_input{
        padding-bottom: 40px;
    }
    /* newsletter */

    /* footer */
    footer{
        display: block;
        padding-bottom: 30px;
    }
    .footer_icon_row{
        padding: 20px 0px 10px 0px;
    }
    .footer_tag_head{
        color: #FA8A28;
        font-size: 20px;
        margin-top: 40px;
        padding: 0px;
    }
    /* footer */

    /* shop page */
    .shop_view {
        padding: 10px;
    }
    .shop_view_selection{
        display: block;
        padding: 10px 0px 30px 0px;
        margin-top: 10px;
    }
    .sort{
        width: 270px;
        margin: 20px 10px 0px 0px;
    }
    .product_list{
        margin: auto;
        margin-top: 30px;
    }
    .product_name{
        font-weight: 600;
    }
    .product_id{
        font-weight: 600;
    }
    .price_diff{
        font-size: 20px;
    }
    .new_price{
        display: flex;
    }
    .old_price{
        text-decoration: line-through;
        color: gray;
    }
    .add_to_cart:hover{
        background-color: #03579E;
        border-radius: 0px;
    }
    /* shop page */

    /* product page */
    .product_view{
        display: block;
    }
    .product_img img{
        width: 300px;
        object-fit: contain;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .product_categ{
        font-size: 30px;
    }
    .price_diff{
        padding: 10px 0px;
    }
    .desc{
        padding-left: 20px;
    }
    .product_add_to_cart{
        padding: 30px 0px 30px 0px;
    }
    /* product page */

    /* CHECKOUT PAGE  */
    form label{
        font-size: 20px;
        font-weight: 600;
    }
    .loko{
        display: none;
    }
    .firstInitial{
        display: block;
    }
    .lastnamecheckout{
        margin: 6px 0px 0px 0px;
    }
    .firstnamecheckout input{
        width: 300px;
    }
    .lastnamecheckout input{
        width: 300px;
    }
    .addressCheckout input{
        width: 300px;
    }
    .cityAddress input{
        width: 300px;
    }
    .PhoneCheckout input{
        width: 300px;
    }
    .mailCheckout input{
        width: 300px;
    }
    /* CHECKOUT PAGE */

    /* CART PAGE  */
    .cartIntro{
        margin-top: 90px;
        padding: 0px;
    }
    .unavaliablelist{
        margin: 10px 0px 0px 40px;
    }
    .unavaliablelist button{
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
    }
    .unavaliablelist button:hover{
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
        background-color: #03579E;
    }
    /* CART PAGE  */
}
    @media (min-width: 768px){
        a{
            color: #fff;
        }
        .featured_products_row img{
            width: 220px;
        }
        .centered{
            width: 170px;
        }
        .centered {
            background-color: #FA8A28;
            color: #ffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
            text-align: center;
            padding: 15px 20px;
            border-radius: 5px;
        }
        footer {
            display: block;
            justify-content: space-between;
            padding: 60px 30px 0px 30px;
            background-color: #2b2a2a;
            color: #ffff;
        }
        .footer_icon_row {
            display: flex;
            padding-top: 20px;
        }
        .footer_tag_head {
            padding-bottom: 0px;
            color: #FA8A28;
        }
        .footer-div{
            margin: 25px 0px;
        }
        .loko{
            display: none;
        }
        .unavaliablelist{
            padding-top: 100px;
        }
    }
    @media (min-width: 1024px){
        .product_row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
        .featured_products_row img {
            width: 100%;
            padding: 0px 10px;
        }
        footer {
            display: flex;
            justify-content: space-between;
            padding: 60px 30px 0px 30px;
            background-color: #2b2a2a;
            color: #ffff;
        }
        .cartIntro{
            padding-top: 100px;
        }
    }
/* all mobile screen */