@import url('https://unpkg.com/css.gg@2.0.0/icons/css/shopping-bag.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}
#cart-item-count{
    position: fixed;
    background: #03579E;
    display: block;
    z-index: 10000;
    text-align: center;
    width: 30px;
    height: 30px;
    bottom: 61px;
    padding: 5px;
    right: 15px;
    border-radius: 50%;
    color: #fff;
}   


/* section one starts here */
.welcome_section {
    position: relative;
}
.welcome_section img{
    height: 500px;
    object-fit: cover;
    object-position: top;
}
.welcome_text{
    position: absolute;
    color: #ffff;
    top: 140px;
    left: 16px;
}
.section_txt_one{
    font-size: 20px;
    font-weight: bold;
    max-width: 400px;
}
.section_txt_two{
    padding-top: 20px;
    font-size: 50px;
    max-width: 500px;
}
.shop_btn {
    padding-top: 30px;
}
.shop_btn button{
    padding: 10px 20px 10px 20px;
    background-color: #FA8A28;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.shop_btn button:hover{
    background-color: #FA8A28;
}
/* section one ends here */

/* gallery */
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flexbox-item img{
    width: 290px;
    height: 400px;
    margin: 10px 15px 10px 10px;
}
/* gallery */

/* promise starts here */
.promise{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 40px 25px;
}
.promise_one{
    font-size: 30px;
    font-weight: 550;
    max-width: 450px;
}
.promise_two{
    padding: 10px 20px 0px 0px;
    color: #989797;
}
/* promise ends here */

/* guarantee_section starts head */
.guarantee_section{
    display: flex;
    padding: 20px 30px 0px 30px;
}
.icon_img{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA8A28;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.row_item img{
    width: 50px;
}
.row_item_text_one{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
}
/* guarantee_section ends here */

/* featured products starts head */
.featured_products{
    padding: 60px 30px 0px 30px;
}
.featured_products p{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}
.featured_products_row{
    display: flex;
    justify-content: space-between;
}

.featured_products_img {
    position: relative;
}
.featured_products_img img{
    width: 380px;
    border-radius: 10px;
}
.centered {
    background-color: #FA8A28;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    padding: 20px 30px 20px 30px ;
    border-radius: 5px;
}
/* featured products ends here */

/* newsletter starts here */
.newsletter{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
.newsletter_text_one{
    max-width: 600px;
    font-size: 25px;
    font-weight: bolder;
}
.newsletter_text_two{
    max-width: 400px;
    font-size: 14px;
    padding-left: 100px;
    color: #989797;
}
.newsletter input{
    margin-top: 20px;
    padding: 10px 45px 10px 45px;
    border: none;
    background-color: #989797;
}
.newsletter button{
    padding: 10px 20px 10px 20px;
    margin-left: -10px;
    background-color: #03579E;
    border: none;
    color: #ffff;
}
/* newsletter ends here */

/* footer starts head */
footer{
    display: flex;
    justify-content: space-between;
    padding: 60px 30px 0px 30px;
    background-color: #2b2a2a;
    color: #ffff;
}
.footer_col_one{
    max-width: 400px;
}
.footer_brand_name{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}
.footer_tag_head{
    padding-bottom: 15px;
    font: 25px;
    font-weight: bold;
}
.footer_icon_row{
    display: flex;
}
.footer_icon_row img{
    width: 25px;
}
.footer_icon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #989797;
    padding: 5px 5px 5px 6px;
    border-radius: 50%;
    margin: 4px;
}
.footer_icon:hover{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA8A28;
    padding: 5px 5px 5px 6px;
    border-radius: 50%;
    margin: 4px;
}
.shop_view_selection{
    display: flex;
    justify-content: space-between;
}
/* footer ends here */



/* shop view starts here */
.shop_view{
    padding: 40px 40px 10px 40px;
}
.component_tag{
    padding: 10px 0px 20px 0px;
    font-size: 30px;
    font-weight: bold;
}
.shop_view_selection{
    display: flex;
    justify-content: space-between;
}
.product_row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.container img{
    width: 100%;
    height: 150px;
}
.product_list{
    width: 100%;
    background-color: #fcfcfc;
    color: #000000;
    margin: 20px 10px 0px 5px;
}
.product_list button{
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #FA8A28;
    color: #ffff;
    cursor: pointer;
}
.top-right {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 50px;
    background-color: red;
    height: 50px;
    border-radius: 50%;
    color: #ffff;
}   
.top-right p{
    padding-top: 12px;
}
/* shop view starts here */

/* product page */
.product_view{
    display: flex;
    padding: 40px 40px 10px 40px;
}
.product_img img{
    width: 550px;
}
.desc{
    padding-left: 50px;
}
.product_categ{
    font-size: 20px;
}
.product_sku{
    font-size: 30px;
    font-weight: bold;
}
.price_diff{
    font-size: 23px;
    padding-bottom: 10px;
}
.product_desc{
    max-width: 450px;
    max-height: 300px;
    overflow: hidden;
}
.product_add_to_cart{
    display: flex;
    padding-top: 15px;
}
.product_btn{
    padding-left: 20px;
}
.product_btn button{
    padding: 10px 20px 5px 20px;
    color: #ffff;
    border: none;
    background-color: #FA8A28;
    cursor: pointer;
}
.product_btn button:hover{
    padding: 10px 20px 5px 20px;
    color: #ffff;
    border: none;
    background-color: #03579E;
    cursor: pointer;
}
/* product page */


/* CHECKOUT PAGE */
   form{
    padding: 40px 0px 0px 0px;
   } 
   .checkoutForm{
    background-color: #f0eded;
   }
   form label{
    font-size: 17px;
    font-weight: 600;
    color: #383737;
   }
   .firstInitial{
    display: flex;
   }
   .firstnamecheckout input{
    width: 280px;
    padding: 10px 0px 18px 10px;
    font-size: 20px;
    border: 1px solid #cecbcb;
   }
   .lastnamecheckout input{
    width: 250px;
    padding: 10px 0px 18px 10px;
    font-size: 20px;
    border: 1px solid #cecbcb;
   }
   .lastnamecheckout{
    margin-left: 70px;
   }
   .addressCheckout{
    margin-top: 20px;
   }
   .addressCheckout input{
    width: 600px;
    padding: 10px 0px 18px 10px;
    font-size: 20px;
    border: 1px solid #cecbcb;
   }
   .PhoneCheckout{
    margin-top: 20px;
   }
   .PhoneCheckout input{
    width: 600px;
    padding: 10px 0px 18px 10px;
    font-size: 20px;
    border: 1px solid #cecbcb;
   }
   .cityAddress{
    margin-top: 20px;
   }
   .cityAddress input{
    width: 600px;
    padding: 10px 0px 18px 10px;
    font-size: 20px;
    border: 1px solid #cecbcb;
   }
   .mailCheckout{
    margin-top: 20px;
   }
   .mailCheckout input{
    width: 600px;
    padding: 10px 0px 18px 10px;
    font-size: 20px;
    border: 1px solid #cecbcb;
   }
   .formBTN{
    padding-top: 20px;
   }
   .formBTN button{
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #62f81d;
    color: #ffff;
    border: none;
    cursor: pointer;
   }
   .formBTN button:hover{
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #2c8503;
    color: #ffff;
    border: none;
    cursor: pointer;
   }
   .formDetails{
    display: flex;
   }
   .loko{
    margin: 20px 60px 20px 60px;
    width: 800px;
    border: 1px solid #989797;
   }
/* CHECKOUT PAGE */
